.calendar_free{clear:both;padding:10px;width:550px;height:380px;margin:0
auto;background:url(http://pic.lvmama.com/img/new_v/ui_scrollLoading/loading.gif) center 100px no-repeat}
.search_pp_calendar_d_crt
.search_pp_calendar_d_box{border:2px
solid #ffec91;background:#faffdb}
.search_pp_calendar_d_over
.search_pp_calendar_d_box{border:2px
solid #a1bb71;background:#faffdb}
.search_pp_calendar_box{overflow:hidden;zoom:1;width:550px;padding-bottom:5px;background:#f0f0f0;font-family:"Microsoft YaHei"}
.search_pp_calendar_tit{height:44px;line-height:44px;font-size:18px;font-weight:bold;color:#666;text-align:center;border-bottom:1px solid #fff;border-top:3px solid #e3e3e3;background:url(http://pic.lvmama.com/img/repeat_bg.gif) repeat-x}
.search_pp_calendar_m{float:left;width:60px}
.search_pp_calendar_t,.search_pp_calendar_d{overflow:hidden;zoom:1;float:right;width:490px}
.search_pp_calendar_t
li{float:left;width:69px;height:22px;line-height:22px;text-align:center;color:#999;padding:0}
.search_pp_calendar_d
li{float:left;width:68px;height:49px;border-right:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;padding:0}
.search_pp_calendar_d_box{overflow:hidden;zoom:1;padding:3px;height:38px;_height:38px;border:2px
solid #fff;font-family:Arial,Helvetica,sans-serif;cursor:pointer}
.search_pp_calendar_d_box:hover{border:2px
solid #a1bb71;background:#faffdb}
.search_pp_calendar_d_box_no_hover{overflow:hidden;zoom:1;padding:4px;height:36px;_height:36px;border:2px
solid #fff;font-family:Arial,Helvetica,sans-serif}
.search_pp_calendar_d_box_selected{border:2px
solid #a1bb71;background:#faffdb}
.search_pp_calendar_day,.search_pp_calendar_balance,.search_pp_calendar_balance1{display:block;height:22px;line-height:16px}
.search_pp_calendar_day{float:left;width:21px}
.search_pp_calendar_balance,.search_pp_calendar_balance1{float:right;width:35px;text-align:right;color:#9c9;height:14px}
.search_pp_calendar_balance1{color:#f00}
.search_pp_calendar_price,.search_pp_calendar_price1{float:right;width:100%;text-align:right;color:#f60;line-height:15px}
.search_pp_calendar_price1{color:#f00;width:35px}
.search_pp_calendar_m{line-height:36px;font-size:20px;font-weight:bold;color:#999;text-align:center}
.search_pp_calendar_m
span{display:block}
.search_pp_cal_nevm,.search_pp_cal_nextm{width:45px;margin:auto;height:150px;overflow:hidden}
.search_pp_cal_nevm_icon{width:33px;height:20px;margin:50px
auto 30px;background:url(http://pic.lvmama.com/img/new_v/global.gif) no-repeat -220px -376px;cursor:pointer}
.search_pp_cal_nextm_icon{width:33px;height:20px;margin:30px
auto 0;background:url(http://pic.lvmama.com/img/new_v/global.gif) no-repeat -155px -376px;cursor:pointer}
.search_pp_cal_nevm_no_icon{width:33px;height:20px;margin:50px
auto 30px;background:url(http://pic.lvmama.com/img/new_v/global.gif) no-repeat -187px -376px}
.search_pp_cal_nextm_no_icon{width:33px;height:20px;margin:30px
auto 0;background:url(http://pic.lvmama.com/img/new_v/global.gif) no-repeat -251px -376px}
.search_pp_cal_nextm_text{margin-top:60px}
.search_pp_lastm_d
.search_pp_calendar_day{color:#ddd}
.search_pp_calendar_d
li.search_pp_calendar_d_nextm{background:#f5ffdd}
.search_pp_cal_nevm_center{padding-bottom:60px}
.search_pp_lastm_d
.search_pp_calendar_day{color:#ddd}
.search_pp_calendar_d
li.search_pp_calendar_d_nextm{background:#f5ffdd}
.month_1{background:#fff}
.month_2,.month_3,.month_4,.month_5,.month_6{background:#f5ffdd}
.l_date,.l_jian_btn,.l_jia_btn,.l_next,.l_close{background:url(http://pic.lvmama.com/img/new_v/global.gif) no-repeat}
.l_jian_btn,.l_jia_btn{width:18px;height:18px;display:inline-block;position:relative;_position:static;top:3px;margin:0
5px;cursor:pointer}
.l_jian_btn{background-position:-23px -375px}
.l_jia_btn{background-position:-41px -375px}
.l_close{height:15px;width:15px;display:inline-block;position:absolute;top:12px;right:12px;cursor:pointer;background:url(http://pic.lvmama.com/img/common_pop/close.gif) no-repeat 3px -17px}
.l_yuding{position:absolute;top:80px;left:50%;margin-left:-200px;width:392px;padding:5px;background:url(http://pic.lvmama.com/img/common_pop/pop_bg.png) repeat}
.l_yuding_mid{position:relative;height:auto;min-height:200px;background:#fff}
.l_yuding_midB{height:200px}
.l_pro_window{}
.l_pro_window
li{line-height:26px;overflow:hidden;zoom:1;text-align:left;padding-bottom:2px;margin-bottom:2px;border-bottom:1px dashed #ddd}
.l_pro_window li
label{float:left}
.l_pro_window b
span{color:#c06;font-family:Arial,Helvetica,sans-serif}
.l_pro_window
p{padding-left:36px;color:#333}
.l_date{width:110px;padding:3px
20px 3px 3px;height:19px;line-height:19px;border:1px
solid #B9B9B9;margin-right:10px;background-position:110px -373px}
.l_introduce{line-height:20px;color:#666}
.l_introduce
span{color:#C06;font-weight:700}
.l_number{padding:0
10px;border:1px
solid #a06;font-size:14px}
.l_next{display:block;width:130px;height:36px;margin:20px
auto;line-height:36px;text-align:center;text-indent:-999px;overflow:hidden;color:#fff;font-size:14px;font-weight:700;background:url(http://pic.lvmama.com/img/new_v/ob_login/login_suprise.gif) no-repeat 0 -504px}
.l_next:hover{color:#fff;text-decoration:none;background-position:0 -541px}
.dd_left{width:40%;text-align:right;float:left;word-break:normal;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.dd_center{width:28%;text-align:left;float:left;_height:20px}
.dd_right{width:30%;text-align:left;float:left;white-space:nowrap}
.zoom{_zoom:1}
.progress_bar{height:10px;background-color:#ccc;-webkit-background-size:30px 30px;-moz-background-size:30px 30px;background-size:30px 30px;background-image:-webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .45)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .45)), color-stop(.75, rgba(255, 255, 255, .45)), color-stop(.75, transparent), to(transparent));background-image:-webkit-linear-gradient(135deg, rgba(255, 255, 255, .45) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .45) 50%, rgba(255, 255, 255, .45) 75%, transparent 75%, transparent);background-image:-moz-linear-gradient(135deg, rgba(255, 255, 255, .45) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .45) 50%, rgba(255, 255, 255, .45) 75%, transparent 75%, transparent);background-image:-ms-linear-gradient(135deg, rgba(255, 255, 255, .45) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .45) 50%, rgba(255, 255, 255, .45) 75%, transparent 75%, transparent);background-image:-o-linear-gradient(135deg, rgba(255, 255, 255, .45) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .45) 50%, rgba(255, 255, 255, .45) 75%, transparent 75%, transparent);background-image:linear-gradient(135deg, rgba(255, 255, 255, .45) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .45) 50%, rgba(255, 255, 255, .45) 75%, transparent 75%, transparent)}
.animate
.progress_bar{-webkit-animation:animate-stripes 3s ease infinite;-moz-animation:animate-stripes 3s ease infinite}
@-webkit-keyframes animate-stripes{0%{width:0;background-position:0 0}
50%{width:70%}
100%{width:100%;background-position:60px 0}
}
@-moz-keyframes animate-stripes{0%{width:0;background-position:0 0}
50%{width:70%}
100%{width:100%;background-position:60px 0}
}
.pop_yuding_inner{padding:20px;font-size:12px;color:#333;background:#fff}
.pop_yuding_tit{text-indent:12px;font:bold 14px/2 'Microsoft YaHei';color:#101010;background:#eee;border-top:2px solid #e37}
.date-price-fc-label{cursor:text;display:inline-block;width:130px;text-align:right}
.date-price-fc-margin{}
.date-price-fc-price{font-weight:bold;font-size:14px;color:#F60;font-family:arial,宋体}
.date-price-fc-font{font-size:14px;font-style:normal}
.search_pp_calendar_d_box{position:relative;padding:2px
2px;height:40px;_height:40px}
.calendar_active{float:right}
.calendar_active{height:13px;width:12px;line-height:14px;padding:0
1px;*padding-top:1px;margin:1px
0 -1px;color:#fff;background:#f94b99}
.search_pp_calendar_price{}
.price-wrap{display:inline-block;width:78px;height:22px;border:1px
solid #ccc;vertical-align:middle}
.minus,.plus{float:left;width:19px;height:22px;line-height:22px;text-align:center;font-style:normal;font-size:14px;color:#666;cursor:pointer;background:#f8f8f8}
.minus:hover,.plus:hover{background:#fff;color:#f80}
.price-wrap .price-disable{cursor:default;background:#f8f8f8;color:#ccc}
.minus{border-right:1px solid #ededed}
.plus{border-left:1px solid #ededed}
.number{float:left;width:38px;height:22px;line-height:22px;text-align:center;vertical-align:top;border:0;background:#fff}
.price-wrap
.ban{color:#ccc;cursor:auto}
.free_dtl_pro_tab td
dfn{color:#f60}
.free_dtl_pro_tab td
.product_117875_price{font-size:14px}
.zxerror{display:none}
.zxerror-text{position:relative;z-index:10;padding:2px
10px;line-height:22px;font-size:12px;color:#f55;display:inline-block;vertical-align:middle;white-space:nowrap;background:#fff6f6;border:1px
solid #fcc;margin-left:3px}
.zxerror-text  .error-arrow{position:absolute;top:50%;left:-8px;width:16px;height:14px;margin-top:-7px}
.zxerror-text  .error-arrow i,
.zxerror-text  .error-arrow
em{position:absolute;font-size:14px;font-family:SimSun,Tahoma,Arial,\5b8b\4f53,sans-serif;line-height:1;font-style:normal;font-weight:normal}
.zxerror-text .error-arrow
em{color:#fcc}
.zxerror-text .error-arrow
i{left:1px;color:#fff6f6}
.zxerror-text
p{color:#F55;margin:0}
.quick-list{display:none;overflow:hidden;position:absolute;top:27px;z-index:10;width:275px;border:1px
solid #ccc;background:#FFF;padding-left:5px}
.quick-list
a{display:block;color:#000;cursor:pointer}
.quick-list
li{line-height:16px}
.quick-list a:hover{text-decoration:none;color:#fff;background:#39f}
.quick_select{position:relative;overflow:hidden;width:215px;height:24px;padding-left:5px;border:1px
solid #ccc}
.quick-wrap{position:relative;width:280px;padding-bottom:10px}
.quick-error{position:absolute;left:187px;top:-2px}
.zxarrow-top,.zxarrow-bottom{position:absolute;top:10px;right:5px;width:0;height:0;line-height:0;font-size:0;overflow:hidden;border-style:dashed;border-color:transparent;border-width:6px}
.zxarrow-top{border-bottom-style:solid;border-top-width:0;border-bottom-color:#333}
.zxarrow-bottom{border-top-style:solid;border-bottom-width:0;border-top-color:#333}
.play_date dt
em{color:red}
.js_day{display:none;background:#fff}
.row
.d_active{display:block}
.recommend_travel{padding:0;background:#f2f2f2}
.multithreading{padding:10px
15px 0}
.multithreading
li{position:relative;float:left;height:30px;line-height:30px;margin:0
5px 5px 0;padding:0
10px;text-align:center;border:1px
solid #d7d7d7;cursor:pointer;word-wrap:normal}
.iy{display:inline-block;width:18px;height:29px;margin-left:10px;vertical-align:middle;background:url(http://pic.lvmama.com/img/new_v/ob_detail/free/y.jpg)}
.multithreading
.m_active{width:auto;font-weight:bold;color:#c06;padding-right:0;border:1px
solid #f357a6}
.trial{padding:0
15px 10px;margin-bottom:20px;background:#f2f2f2}
.trial
ul{margin:5px
0 10px;padding:15px
10px;border:1px
solid #edd2b5;background:#fffcea}
.trial
li{float:left;display:inline;margin-right:20px}
.day_rights_none{padding:0
15px;background:#fff}
.dtl_boxr_txt1
label{width:90px;float:left;margin-right:5px;display:inline;text-align:right}
.l_yuding
.zoom{position:relative}
