.paytype-list .bank {
	border: 1px solid rgb(221, 221, 221); width: 145px; height: 32px; text-indent: -9999px; margin-left: 5px; float: left; cursor: pointer; background-image: url("images/banklist.png"); background-repeat: no-repeat;
}
.paytype-list .bank--alipay {
	background-position: 0px -1023px;
}
.paytype-list .bank--maintain {
	background-position: 13px -1020px; color: red; padding-left: 133px;
}
.paytype-list .bank--tenpay {
	background-position: 0px -1062px;
}
.paytype-list .bank--chinabank {
	background-position: 0px -1100px;
}
.paytype-list .bank--icbc {
	background-position: 0px -379px;
}
.paytype-list .bank--icbcb2b {
	background-position: 0px -759px;
}
.paytype-list .bank--cmb {
	background-position: 0px -418px;
}
.paytype-list .bank--cmbb2b {
	background-position: 0px -840px;
}
.paytype-list .bank--ccb {
	background-position: 0px -58px;
}
.paytype-list .bank--abc {
	background-position: 0px -20px;
}
.paytype-list .bank--spdb {
	background-position: 0px -338px;
}
.paytype-list .bank--sdb {
	background-position: 0px -298px;
}
.paytype-list .bank--cib {
	background-position: 0px -458px;
}
.paytype-list .bank--cebb {
	background-position: 0px -98px;
}
.paytype-list .bank--boc {
	background-position: 0px -178px;
}
.paytype-list .bank--cmbc {
	background-position: 0px -139px;
}
.paytype-list .bank--bob {
	background-position: 0px -588px;
}
.paytype-list .bank--udpay {
	background-position: 0px -723px;
}
.paytype-list .bank--gzupay {
	background-position: 0px -680px;
}
.paytype-list .bank--zxyh {
	background-position: 0px -259px;
}
.paytype-list .bank--gfyh {
	background-position: 0px -220px;
}
.paytype-list .bank--gdb {
	background-position: 0px -220px;
}
.paytype-list .bank--pingan {
	background-position: 0px -874px;
}
.paytype-list .bank--bofc {
	background-position: 0px -911px;
}
.paytype-list .bank--postupay {
	background-position: 0px -500px;
}
.paytype-list .bank--cib_1009 {
	background-position: 0px -955px;
}
.paytype-list .bank--cib_1059 {
	background-position: 0px -990px;
}
.paytype-list .bank--cmpay {
	background-position: 0px -1140px;
}
.paytype-list .bank--lakala {
	background-position: 5px -1177px;
}
.paytype-list .bank--pspc {
	background-position: 0px -500px;
}
.paytype-list .bank--bjrcb {
	background-position: 0px -1220px;
}
.paytype-list .bank--hzcb {
	background-position: 0px -1259px;
}
.paytype-list .bank--shrcb {
	background-position: 0px -1299px;
}
.paytype-list .bank--upopdebit {
	background-position: -4px -1377px;
}
.paytype-list .bank--upopcredit {
	background-position: -4px -1427px;
}
.paytype-list .bank-list {
	overflow: hidden; clear: both; margin-top: 10px; margin-left: 0px; display: none; -ms-zoom: 1;
}
.paytype-list .bank-list .tip {
	padding: 5px 0px 0px 32px; color: rgb(204, 51, 51); font-size: 12px; display: none;
}
.paytype-list .bank-list .item {
	margin: 0px 30px 10px 0px; font-size: 14px; float: left;
}
.paytype-list .bank-list .radio {
	width: 13px; margin-top: 10px; margin-left: 1px; float: left;
}
.paytype-list .bank-list .item--disabled .bank {
	cursor: not-allowed; opacity: 0.5;
}
.paytype-list .bank-tip--disabled {
	color: rgb(234, 79, 1);
}
.paytype-list .bank-list--xpay {
	margin: 5px 0px -10px; top: -20px; overflow: hidden; clear: both; position: relative; -ms-zoom: 1;
}
.paytype-list .bank-list--xpay .item {
	padding: 21px 0px 0px; margin-bottom: 0px;
}
.paytype-list .bank-list--xpay .bank {
	height: 40px;
}
.paytype-list .bank-list--xpay .radio {
	margin-top: 15px;
}
.paytype-list .bank-list--xpay .item--hastip {
	position: relative;
}
.paytype-list .bank-list--xpay .item__tip {
	padding: 0px 5px; border: 1px solid rgb(212, 212, 212); left: 19px; top: 0px; color: rgb(153, 153, 153); font-size: 12px; position: absolute;
}
.paytype-list .bank-list--upop .bank {
	height: 38px;
}
.paytype-list .bank-type {
	margin: 10px 0px; padding: 0px 0px 0px 18px; border: 0px currentColor; font-size: 14px; font-weight: normal; position: relative; cursor: pointer;
}
.paytype-list .bank-type__hint {
	color: rgb(153, 153, 153); font-size: 12px;
}
.paytype-list .bank-type__icon {
	background: url("http://s0.meituan.net/www/css/i/sp-fold-icon.vdd0d955e.png") no-repeat -9999px -9999px; left: 2px; top: 8px; width: 9px; height: 5px; overflow: hidden; position: absolute; _left: -16px;
}
.paytype-list .bank-area .bank-type__icon {
	
}
.paytype-list .bank-area--open .bank-type__icon {
	background-position: 0px -10px;
}
.paytype-list .bank-area--open .bank-list {
	display: block;
}
.paytype-list .choose-other-bank {
	height: 18px; padding-left: 20px; font-size: 12px; margin-top: 8px; float: left;
}
.paytype-list .choose-other-bank .tri {
	border-width: 5px; border-style: solid dashed dashed; border-color: rgb(0, 187, 187) transparent transparent; width: 0px; height: 0px; line-height: 0; font-size: 0px; margin-top: 7px; margin-left: 3px; position: absolute;
}
.paytype-list .order-check-tip {
	color: rgb(204, 51, 51); padding-left: 30px; clear: both; font-size: 12px; margin-top: -5px; margin-bottom: 5px; float: left;
}
#order-show .print-action {
	margin: 15px; text-align: center;
}
#order-show img {
	margin: 0px auto; display: block;
}
#order-show .print-nav {
	margin: 5px auto; width: 600px; text-align: right;
}
#orders .mainbox {
	padding-bottom: 50px;
}
#orders .head {
	position: relative;
}
#orders .bottom-tips {
	margin-top: 10px;
}
#orders .sect {
	padding: 20px 20px 50px; width: auto;
}
#orders .delivery-text {
	color: rgb(128, 128, 128);
}
#orders .invalid {
	color: rgb(221, 221, 221);
}
#orders .points-intro {
	background: rgb(255, 251, 204); margin: 0px 0px 10px; padding: 10px; border: 1px solid rgb(255, 236, 25);
}
#orders .use-coupon-tips h3 {
	font-size: 18px;
}
#orders .use-coupon-tips ul {
	margin: 10px 0px 0px 20px; font-size: 14px;
}
#orders .use-coupon-tips li {
	margin-bottom: 5px;
}
#orders .info-section .amount {
	color: rgb(204, 51, 51);
}
.pg-refund .refund-box h3 {
	background: url("http://s0.meituan.net/www/css/i/sys-icons-48.v6b0ece98.png") no-repeat 0px -98px; margin: 10px; padding: 0px 0px 0px 60px; height: 52px; line-height: 52px; font-size: 20px;
}
.pg-refund .refund-box ul {
	background: rgb(243, 243, 243); margin: 0px 50px 0px 70px; padding: 10px 18px; border: 1px solid rgb(204, 204, 204);
}
.pg-refund .refund-box li {
	list-style: inside; line-height: 2;
}
.pg-refund .refund-box span {
	margin: 0px 6px 0px 9px; color: rgb(153, 153, 153);
}
.pg-refund .refund-box p {
	margin: 30px 50px 0px 70px;
}
.pg-refund .tips-section {
	padding-left: 28px;
}
.pg-refund .tips-section li {
	
}
.pg-refund .field-group {
	padding: 5px 0px 20px 80px; font-size: 12px; margin-bottom: 0px;
}
.pg-refund .field-group--small {
	padding-bottom: 5px;
}
.pg-refund .field-group label {
	width: 70px; text-align: right; font-size: 12px;
}
.pg-refund .field-group .f-controls {
	padding-top: 4px;
}
.pg-refund .field-group h4 {
	top: 4px; font-weight: normal; position: relative;
}
.pg-refund .coupon-field {
	padding: 5px 0px 1px 10px; border: 1px solid rgb(244, 244, 244); margin-top: 20px; min-height: 20px; background-color: rgb(248, 248, 248); _height: 20px;
}
.pg-refund .reason-list label {
	margin: 0px; padding: 0px; width: auto; text-align: left; font-size: 12px; position: static; cursor: pointer;
}
.pg-refund .coupon-field label {
	margin: 0px; padding: 0px; width: auto; text-align: left; font-size: 12px; position: static; cursor: pointer;
}
.pg-refund .reason-list input {
	vertical-align: middle;
}
.pg-refund .coupon-field li input {
	vertical-align: middle;
}
.pg-refund .coupon-field li {
	margin-bottom: 5px;
}
.pg-refund .invalid {
	color: rgb(153, 153, 153);
}
.pg-refund .reason-list span {
	color: rgb(153, 153, 153); margin-left: 10px;
}
.pg-refund .coupon-field li span {
	color: rgb(153, 153, 153); margin-left: 10px;
}
.pg-refund .reason-list li .extra {
	color: rgb(204, 0, 0);
}
.pg-refund .coupon-field li .extra {
	color: rgb(204, 0, 0);
}
.pg-refund .loading {
	margin: 0px;
}
.pg-refund .long {
	height: 185px; -ms-overflow-y: scroll;
}
.pg-refund .f-text {
	width: 120px;
}
.pg-refund .remarks {
	color: rgb(153, 153, 153);
}
.pg-refund .refund-count .money {
	color: rgb(204, 51, 51); font-family: arial; font-size: 16px; font-weight: bold;
}
.pg-refund .transfersale-count {
	color: rgb(204, 51, 51); font-family: arial; font-size: 16px; font-weight: bold;
}
.pg-refund .refund-count .money-small {
	color: rgb(204, 51, 51);
}
.pg-refund .refund-count {
	color: rgb(0, 0, 0);
}
.pg-refund .refund-reason {
	padding: 5px 0px 5px 10px;
}
.pg-refund .reason-list {
	width: 410px; margin-top: 5px;
}
.pg-refund .reason-list li {
	padding: 3px 0px; width: 200px; float: left;
}
.pg-refund .refund-method {
	background: rgb(255, 255, 255); margin: 0px auto 10px; border: 0px currentColor;
}
.pg-refund .refund-method .coupon-field {
	background: rgb(255, 255, 255); margin: 0px auto 10px; border: 0px currentColor;
}
.pg-refund .refund-method label {
	font-size: 14px; font-weight: bold;
}
.pg-refund .refund-method em {
	color: rgb(0, 0, 0); font-size: 12px; font-weight: normal;
}
.pg-refund .refund-method p {
	color: rgb(153, 153, 153); line-height: 2em;
}
.pg-refund .refund-growth-tip {
	color: rgb(153, 153, 153); line-height: 2em; padding-left: 10px; font-size: 12px; margin-bottom: 12px;
}
.pg-check .money {
	margin: 0px 3px; color: rgb(234, 79, 1);
}
.pg-check .money-symbol {
	margin: 0px 3px; color: inherit; font-family: arial;
}
.pg-check .warn {
	color: rgb(234, 79, 1);
}
.pg-check .muted {
	color: rgb(153, 153, 153);
}
.pg-check .pay-choice {
	line-height: 2em; font-size: 14px;
}
.pg-check .pay-choice-tip {
	margin: 15px 0px; font-weight: bold;
}
.pg-check .pay-choice-list {
	padding: 15px 20px; border: 1px solid rgb(212, 212, 212); margin-bottom: 15px;
}
.pg-check .order-list td {
	padding: 3px 0px; -ms-word-break: break-all;
}
.pg-check .order-list .item-name {
	width: 5em;
}
.pg-check .order-list a {
	color: rgb(51, 51, 51);
}
.pg-check .pay-total {
	text-align: right; font-size: 14px; font-weight: bold; margin-bottom: 15px;
}
.pg-check .paytype {
	background: rgb(247, 247, 247); padding: 10px 20px 15px; border: 0px currentColor;
}
.pg-check .verify-mobile {
	background: rgb(247, 247, 247); padding: 10px 16px 16px; border: 0px currentColor;
}
.pg-check .verify-mobile .verify-code {
	padding: 3px; width: 80px;
}
.pg-check .verify-mobile .verify-tip {
	line-height: 28px; margin-left: 10px; vertical-align: top; -ms-zoom: 1;
}
.pg-check .verify-mobile .verify-control {
	margin-left: 15px;
}
.pg-check .verify-mobile .verify-btn {
	padding: 2px 4px; font-size: 12px;
}
.pg-check .verify-mobile .rebind-link {
	color: rgb(153, 153, 153);
}
.pg-check .verify-mobile .rebind-link:hover {
	color: rgb(0, 187, 187);
}
.pg-check .verify-mobile .error {
	color: rgb(204, 51, 51);
}
.pg-check .form-submit {
	text-align: right; overflow: hidden; -ms-zoom: 1;
}
.pg-check .form-submit .btn-pay {
	margin-bottom: 5px;
}
.pg-check .form-submit .inline-link {
	font-size: 14px;
}
#order-check .mainbox {
	padding-bottom: 40px;
}
#order-check .mainbox h2 {
	margin: 0px 0px 10px; padding: 0px; border: 0px currentColor; color: rgb(102, 102, 102); font-size: 14px;
}
.common-tips-innerbox {
	text-align: left;
}
#order-check .common-tips-innerbox h3 {
	font-size: 18px;
}
#order-check .common-tips-innerbox ul {
	margin: 10px 0px 0px 20px; font-size: 14px;
}
#order-check .common-tips-innerbox li {
	margin-bottom: 5px;
}
.pg-order-check .order-list {
	font-size: 12px; margin-bottom: 15px;
}
#cart-check .mainbox {
	padding-bottom: 40px;
}
#cart-check .mainbox h2 {
	margin: 0px 0px 10px; padding: 0px; border: 0px currentColor; color: rgb(102, 102, 102); font-size: 14px;
}
#cart-check .common-tips-innerbox h3 {
	font-size: 18px;
}
#cart-check .common-tips-innerbox ul {
	margin: 10px 0px 0px 20px; font-size: 14px;
}
#cart-check .common-tips-innerbox li {
	margin-bottom: 5px;
}
.pg-cart-check .cart-info-field {
	color: rgb(34, 34, 34); line-height: 21px; padding-bottom: 15px; font-size: 12px; margin-bottom: 15px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: dotted;
}
.pg-cart-check .cart-info-field h4 {
	color: rgb(102, 102, 102); line-height: 30px;
}
.pg-cart-check .cart-info-field a {
	color: rgb(51, 51, 51);
}
.pg-cart-check .cart-info-field .orders-detail {
	color: rgb(197, 197, 197); padding-left: 20px;
}
.pg-cart-check .orders-detail .quantity {
	margin-left: 1em;
}
.pg-cart-check .orders-detail li {
	list-style: square;
}
.pg-cart-check .orders-detail p {
	color: rgb(34, 34, 34);
}
.pg-cart-check .orders-detail .more-detail {
	color: rgb(153, 153, 153);
}
.pg-cart-check .cart-info-field .delivery-info {
	color: rgb(153, 153, 153);
}
.pg-cart-check .cart-info-field .mobile {
	color: rgb(234, 79, 1);
}
.pg-cart-check .cart-info-field .money {
	color: rgb(234, 79, 1);
}
#order-detail #primary-info .operation {
	margin-top: 5px;
}
#order-detail #primary-info .inline-link {
	margin-left: 10px;
}
#order-detail .flow-list {
	line-height: 1.8;
}
#order-detail .appoint-list-link {
	margin-left: 30px;
}
#order-detail #order-address {
	line-height: 1.8;
}
#order-detail #edit-address-form .field-group {
	padding-left: 90px; font-size: 12px;
}
#order-detail #edit-address-form .field-group label {
	width: 80px; font-size: 12px;
}
#order-detail #edit-address-form .delivery-type {
	margin: 0px 0px 8px 20px;
}
#order-detail #edit-address-form .delivery-type li {
	line-height: 2;
}
#order-detail #edit-address-form .delivery-type label {
	padding-left: 10px;
}
#order-detail #edit-address-form .comment {
	width: 400px; margin-bottom: 20px;
}
#order-detail #edit-address-form .type-select {
	margin: 10px 0px; padding-left: 15px;
}
#order-detail #edit-address-form .type-select .info {
	color: rgb(102, 102, 102);
}
#order-detail .info-table {
	width: 100%;
}
#order-detail .info-table th {
	padding: 3px 5px; text-align: center;
}
#order-detail .info-table td {
	padding: 3px 5px; text-align: center;
}
#order-detail .info-table th {
	font-weight: bold;
}
#order-detail .info-table .left {
	text-align: left;
}
#order-detail .info-table .total {
	color: rgb(204, 51, 51);
}
#order-detail .info-table .status {
	color: rgb(204, 51, 51); font-size: 12px;
}
#order-detail .order-delivery-trace {
	margin-left: 5px; cursor: pointer;
}
#order-detail .order-delivery-loading {
	background: url("http://s0.meituan.net/www/css/i/icon-loading16x16.vecf78228.gif") no-repeat left; padding-left: 20px;
}
#order-detail .order-delivery-info-wrapper {
	margin-left: 60px;
}
#order-detail .order-delivery-info-wrapper .order-delivery-info-content {
	overflow: hidden; margin-top: 5px;
}
#order-detail .order-delivery-info-wrapper .order-delivery-info-content .warn {
	color: rgb(204, 0, 0);
}
#order-detail .order-delivery-info-wrapper .order-delivery-info-list {
	margin-left: -6px;
}
#order-detail .order-delivery-info-wrapper .order-delivery-info-list .last {
	color: rgb(202, 0, 0);
}
#order-detail .order-delivery-info-wrapper .order-delivery-info-list .order-delivery-info-context {
	width: 440px; vertical-align: top;
}
#order-detail .order-delivery-info-wrapper .order-delivery-hint {
	background: url("http://s1.meituan.net/www/css/i/sys-icons-16.vd2db5315.png") no-repeat 8px -295px rgb(255, 245, 229); margin: 20px 0px 10px; padding: 4px 10px 4px 30px; border: 1px solid rgb(254, 196, 111);
}
#order-detail .order-delivery-info-wrapper .common-form {
	margin: 4px 0px 10px; padding: 20px; border: 1px solid rgb(204, 204, 204); min-width: 238px;
}
#order-detail .order-delivery-info-wrapper .captcha label {
	line-height: 1.1; margin-bottom: 10px; display: block;
}
#order-detail .order-delivery-info-wrapper .captcha label span {
	color: rgb(153, 153, 153);
}
#order-detail .order-delivery-info-wrapper .captcha .f-text {
	height: 22px; line-height: 22px; margin-right: 4px;
}
#order-detail .order-delivery-info-wrapper .captcha img {
	height: 28px; vertical-align: bottom;
}
#order-detail .order-delivery-info-wrapper .order-delivery-captcha-refresh {
	vertical-align: bottom;
}
#order-detail .order-delivery-info-wrapper .btn-area {
	margin-top: 10px;
}
#order-detail .coupon-field {
	padding: 5px 0px 1px 10px; border: 1px solid rgb(244, 244, 244); min-height: 20px; background-color: rgb(248, 248, 248); _height: 20px;
}
#order-detail .coupon-field__tip {
	color: rgb(153, 153, 153); padding-bottom: 5px;
}
#order-detail .coupon-field li {
	margin-bottom: 5px;
}
#order-detail .coupon-field li.invalid {
	color: rgb(153, 153, 153);
}
#order-detail .coupon-field li span {
	color: rgb(153, 153, 153); margin-left: 10px;
}
#order-detail .coupon-field li .extra {
	color: rgb(204, 0, 0);
}
#order-detail .warn {
	color: rgb(204, 0, 0);
}
#order-detail .delivery-delay-warning {
	color: rgb(204, 0, 0); margin-bottom: 10px;
}
#order-detail .coupon-send {
	font-size: 12px; float: right;
}
#order-detail .apply-refund-link {
	font-size: 12px; float: right;
}
#refund-detail .mainbox {
	padding: 20px 30px;
}
#refund-detail .mainbox h2 {
	margin-bottom: 20px;
}
.pg-refund-detail #content {
	width: auto; float: none;
}
.pg-refund-detail #content .mainbox .op-area {
	right: 30px;
}
.pg-refund-detail .field-group .inline-tip {
	padding: 0px;
}
.pg-refund-detail .order-detail {
	margin-top: 5px;
}
.pg-refund-detail .order-detail .field-group {
	margin: 0px; padding-left: 72px;
}
.pg-refund-detail .order-detail .field-group label {
	width: 72px; padding-top: 0px; font-size: 12px;
}
.pg-refund-detail .summary strong {
	margin-right: 6px;
}
.pg-refund-detail .summary .amount {
	color: rgb(221, 0, 0);
}
.pg-refund-detail .withdraw-detail {
	text-align: left; margin-top: 6px; float: right; _width: 268px;
}
.pg-refund-detail .withdraw-detail .field-group {
	margin: 0px; padding-left: 72px;
}
.pg-refund-detail .withdraw-detail .field-group label {
	width: 72px; padding-top: 0px; font-size: 12px;
}
.pg-refund-detail .minus {
	width: 6px; display: inline-block; -ms-zoom: 1;
}
.pg-refund-detail .insufficient {
	text-align: center; font-size: 12px; margin-bottom: 10px;
}
.pg-refund-detail .insufficient em {
	margin: 0px 3px; color: rgb(221, 0, 0);
}
.pg-refund-detail .withdraw-detail .insufficient {
	text-align: right; margin-bottom: 0px;
}
.pg-refund-detail .withdraw-notice {
	padding-top: 5px; margin-top: 10px; border-top-color: rgb(246, 224, 175); border-top-width: 1px; border-top-style: dotted;
}
.pg-refund-detail .info-section--grey {
	background: rgb(247, 247, 247); border: 1px solid rgb(228, 228, 228);
}
.pg-refund-detail .info-section--tips {
	margin-top: 20px;
}
.pg-refund-detail .info-section--tips h4 {
	font-size: 1.1em; margin-top: 10px;
}
.pg-refund-detail .info-section--tips p {
	margin: 1em;
}
#apply-withdraw .order-detail {
	margin-top: 5px;
}
#apply-withdraw .order-detail .field-group {
	margin: 0px; padding-left: 72px;
}
#apply-withdraw .order-detail .field-group label {
	width: 72px; padding-top: 0px; font-size: 12px;
}
#apply-withdraw .error {
	margin: 0px 0px 10px; color: rgb(221, 0, 0);
}
#apply-withdraw .no-branch {
	margin-top: 6px; display: block;
}
#apply-withdraw .apply-withdraw {
	margin: 0px 0px 30px;
}
#apply-withdraw .apply-withdraw .field-group {
	padding-left: 92px;
}
#apply-withdraw .apply-withdraw .field-group label {
	width: 92px; padding-top: 0px;
}
#apply-withdraw .apply-withdraw .f-textarea {
	width: 500px;
}
#apply-withdraw .reapply-withdraw {
	margin: 0px 0px 30px;
}
#apply-withdraw .reapply-withdraw .field-group {
	padding-left: 92px;
}
#apply-withdraw .reapply-withdraw .field-group label {
	width: 92px;
}
#apply-withdraw .withdraw-tip {
	margin: 0px; color: rgb(102, 102, 102);
}
#apply-withdraw .withdraw-tip ul li {
	margin-left: 16px;
}
#apply-withdraw .minus {
	width: 6px; display: inline-block; -ms-zoom: 1;
}
#order-feedback .field-group {
	padding-left: 185px;
}
#order-feedback .field-group label {
	width: 175px;
}
#order-feedback .wantmore label {
	position: static;
}
#order-feedback .act {
	margin: 0px;
}
#order-feedback .act .awards {
	margin-left: 15px;
}
#order-feedback .act .awards strong {
	color: rgb(204, 0, 0);
}
#order-send-sms-dialog .common-form {
	width: 350px; padding-right: 30px; border-right-color: rgb(102, 102, 102); border-right-width: 1px; border-right-style: solid; float: left;
}
#order-send-sms-dialog .field-group {
	padding: 5px 0px 20px 60px; font-size: 12px; margin-bottom: 0px;
}
#order-send-sms-dialog .field-group label {
	width: 50px; text-align: left;
}
#order-send-sms-dialog .field-group h4 {
	top: 4px; font-size: 14px; font-weight: normal; position: relative;
}
#order-send-sms-dialog .coupon-field {
	padding: 5px 0px 1px 10px; border: 1px solid rgb(244, 244, 244); margin-top: 20px; min-height: 20px; background-color: rgb(248, 248, 248); _height: 20px;
}
#order-send-sms-dialog .coupon-field label {
	margin: 0px; padding: 0px; width: auto; text-align: left; font-size: 12px; position: static; cursor: pointer;
}
#order-send-sms-dialog .coupon-field .multi-coupon-tip {
	color: rgb(221, 0, 0); margin-bottom: 5px;
}
#order-send-sms-dialog .coupon-field li {
	margin-bottom: 5px;
}
#order-send-sms-dialog .coupon-field li input {
	vertical-align: middle;
}
#order-send-sms-dialog .coupon-field li .invalid {
	color: rgb(153, 153, 153);
}
#order-send-sms-dialog .coupon-field li span {
	color: rgb(153, 153, 153); margin-left: 10px;
}
#order-send-sms-dialog .coupon-field li .extra {
	color: rgb(204, 0, 0);
}
#order-send-sms-dialog .loading {
	margin: 0px;
}
#order-send-sms-dialog .long {
	height: 185px; -ms-overflow-y: scroll;
}
#order-send-sms-dialog .f-text {
	width: 120px;
}
#order-view-coupon-dialog .common-form {
	width: 350px; padding-right: 30px; border-right-color: rgb(102, 102, 102); border-right-width: 1px; border-right-style: solid; float: left;
}
#order-view-coupon-dialog .field-group {
	padding: 5px 0px 20px 60px; font-size: 12px; margin-bottom: 0px;
}
#order-view-coupon-dialog .field-group label {
	width: 50px; text-align: left;
}
#order-view-coupon-dialog .field-group h4 {
	top: 4px; font-size: 14px; font-weight: normal; position: relative;
}
#order-view-coupon-dialog #title-field {
	top: 4px; position: relative;
}
#order-view-coupon-dialog #title-field h4 {
	margin: 0px 6px 0px 0px; top: 0px; display: inline; position: static;
}
#order-view-coupon-dialog .coupon-field {
	padding: 5px 0px 1px 10px; border: 1px solid rgb(244, 244, 244); margin-top: 20px; min-height: 20px; background-color: rgb(248, 248, 248); _height: 20px;
}
#order-view-coupon-dialog .coupon-field li {
	margin-bottom: 5px;
}
#order-view-coupon-dialog .coupon-field li.invalid {
	color: rgb(153, 153, 153);
}
#order-view-coupon-dialog .coupon-field li span {
	color: rgb(153, 153, 153); margin-left: 10px;
}
#order-view-coupon-dialog .coupon-field li .extra {
	color: rgb(204, 0, 0);
}
#order-view-coupon-dialog .loading {
	margin: 0px;
}
#order-view-coupon-dialog .long {
	height: 185px; -ms-overflow-y: scroll;
}
#order-view-coupon-dialog .f-text {
	width: 120px;
}
.pg-aftersales .info-section .btn-mini {
	margin-top: 5px;
}
.pg-aftersales .info-section form {
	margin-top: 5px;
}
.pg-aftersales .add-msg {
	margin-bottom: 10px;
}
.pg-aftersales .add-msg .field-group {
	padding-left: 0px; margin-bottom: 0px;
}
.pg-aftersales .add-msg .f-textarea {
	width: 400px; height: 3em;
}
.pg-aftersales .msg-list {
	font-size: 12px;
}
.pg-aftersales .msg-list dt {
	margin: 5px 0px; font-weight: bold;
}
.pg-aftersales .msg-list .date {
	color: rgb(153, 153, 153); font-weight: normal; margin-left: 10px;
}
.pg-aftersales .msg-list dd {
	padding: 0px 0px 8px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.pg-aftersales .aftersales-trigger {
	background: url("http://s1.meituan.net/www/css/i/bg-help-title.vfaec7e88.png") no-repeat 0px 0px; padding: 0px 10px 0px 20px; height: 33px; color: rgb(102, 102, 102); line-height: 33px; font-weight: bold; margin-bottom: 10px; position: relative; cursor: pointer;
}
.pg-aftersales .aftersales-trigger i {
	background: url("http://s0.meituan.net/www/css/i/bg-help-title-arrow.vee82181c.png") no-repeat 0px 0px; left: 636px; top: 13px; width: 9px; height: 7px; line-height: 0; font-size: 0px; display: block; position: absolute;
}
.pg-aftersales .fold {
	
}
.pg-aftersales .unfold {
	background-position: 0px -100px;
}
.pg-aftersales .hover {
	background-position: 0px -100px; color: rgb(53, 153, 155);
}
.pg-aftersales .hover i {
	background-position: 0px -100px;
}
.pg-aftersales .unfold i {
	background-position: 0px -150px;
}
.pg-appoint-list .coupon-count {
	color: rgb(204, 51, 51); font-weight: bold;
}
.pg-appoint-list .appoint-title {
	margin: 20px 0px 5px; font-size: 16px;
}
.pg-appoint-list .appoint-status {
	color: rgb(238, 82, 56); font-weight: bold;
}
.pg-appoint-list .blue-info-section {
	margin-top: 20px;
}
.pg-appoint-list .field-group .inline-tip {
	padding: 0px;
}
.pg-appoint-list .order-detail {
	margin-top: 5px;
}
.pg-appoint-list .order-detail .field-group {
	margin: 0px; padding-left: 72px;
}
.pg-appoint-list .order-detail .field-group label {
	width: 72px; padding-top: 0px; font-size: 12px;
}
.pg-appoint-list .summary strong {
	margin-right: 6px;
}
.pg-appoint-list .summary .amount {
	color: rgb(221, 0, 0);
}
.pg-appoint-list #sidebar {
	padding-top: 37px;
}
.pg-appoint-list .feedback-link {
	font-size: 12px; float: right;
}
.pg-rates .question-mark {
	background: rgb(55, 173, 177); border-radius: 6px; top: -0.5em; width: 12px; height: 12px; text-align: center; color: rgb(255, 255, 255); line-height: 12px; font-size: 10px; font-weight: normal; display: inline-block; position: relative; cursor: pointer;
}
.rate-item {
	padding: 10px 0px; overflow: hidden; border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid; -ms-zoom: 1;
}
.rate-item__title {
	padding-right: 10px; float: left;
}
.rate-item__content {
	line-height: 20px; font-size: 12px; margin-left: 150px;
}
.rate-item--last {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.rate-item__content strong {
	color: rgb(247, 98, 30);
}
.rate-item__content h3 {
	color: rgb(102, 102, 102); line-height: 30px; font-size: 14px; margin-bottom: 5px;
}
.rate-item__content h3 a {
	color: rgb(102, 102, 102); font-size: 14px;
}
.rate-item__content h3 a:hover {
	text-decoration: none;
}
.rate-item__content .field-group {
	padding-top: 0px; padding-bottom: 0px;
}
.rate-item__content .field-group label {
	color: rgb(102, 102, 102); padding-top: 2px; font-size: 12px;
}
.rate-item__content .rate-tip {
	color: rgb(153, 153, 153); vertical-align: 2px;
}
.rate-item__content .order-rated {
	float: right;
}
.rate-item__content div.feedback {
	height: 20px; line-height: 20px; overflow: hidden; margin-bottom: 5px;
}
.rate-item__content .award-score {
	margin-bottom: 5px;
}
.rate-item__content .edit {
	background: url("http://s0.meituan.net/www/css/i/sp-misc.v519dd66c.png") no-repeat 0px -11px; width: 15px; height: 18px; vertical-align: middle;
}
.rate-item__content .field-group {
	padding-left: 7em; margin-bottom: 2px;
}
.rate-item__content .field-group label {
	width: 7em;
}
.rate-item__content .area {
	padding: 0px 0px 10px;
}
.rate-item__content .anonymous-group {
	margin-top: 10px;
}
.rate-item__content .anonymous-group input {
	margin-right: 5px;
}
.rate-item__content .anonymous-group label {
	margin-right: 10px;
}
.rate-item__content .operate {
	line-height: 30px; margin-top: 10px;
}
.rate-item__content .area-tips {
	margin-top: 15px; margin-bottom: 5px;
}
.rate-item__content .feedback-result em {
	color: rgb(247, 98, 30); font-weight: bold;
}
.rate-item__content #order-feedback-dialog-save {
	left: 0px; float: left;
}
.rate-item__content .nopoint-tips {
	padding-left: 10px;
}
.rate-item__content .widget-rating {
	vertical-align: -1px;
}
.rate-item__content .widget-rating-intro {
	color: rgb(247, 98, 30); font-size: 12px;
}
.rate-item__content .widget-rating-star {
	cursor: pointer;
}
.rate-item__content .reminding {
	margin-bottom: 5px;
}
.rate-item__content .reminding span {
	color: rgb(153, 153, 153);
}
.rate-item__content .error-tip {
	color: rgb(247, 97, 30);
}
.rate-item__content .p-node-wordcounter {
	color: rgb(153, 153, 153);
}
.rate-item__content .p-node-wordcounter strong {
	color: rgb(247, 97, 34); font-weight: bold;
}
.rate-item__content .f-textarea {
	padding: 8px; border: 0px currentColor; width: 492px; overflow: auto; box-shadow: none; resize: none;
}
.rate-item__content .f-textarea:focus {
	box-shadow: none;
}
.rate-item__content .field-group--error {
	padding-bottom: 18px;
}
.rate-item__content .biz-feedback {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(223, 228, 228); text-align: left; color: rgb(91, 91, 91); margin-top: 10px; position: relative; -ms-zoom: 1;
}
.rate-item__content .biz-feedback span {
	background: url("http://s0.meituan.net/www/css/i/sp-misc.v519dd66c.png") no-repeat 0px 0px; left: 20px; top: -6px; width: 10px; height: 6px; overflow: hidden; margin-bottom: 10px; position: absolute;
}
.rate-item__content .biz-feedback p {
	padding: 2px 0px;
}
.rate-item__content .widget-rating .widget-rating-star {
	background: url("http://s0.meituan.net/www/css/i/sp-rate-blank-stars-16x16.v21b654ea.png") repeat-x 0px 0px; width: 17px; height: 17px;
}
.rate-item__content .widget-rating .widget-rating-star-gray {
	background: url("http://s0.meituan.net/www/css/i/sp-rate-blank-stars-16x16.v21b654ea.png") repeat-x 0px -17px; width: 17px; height: 17px;
}
.rate-item__content .feedback .widget-rating-star {
	background: url("http://s0.meituan.net/www/css/i/sp-rate-blank-stars-20x20.v2d1dd9e0.png") repeat-x 0px 0px; width: 21px; height: 21px;
}
.rate-item__content .feedback .widget-rating-star-gray {
	background: url("http://s0.meituan.net/www/css/i/sp-rate-blank-stars-20x20.v2d1dd9e0.png") repeat-x 0px -21px; width: 21px; height: 21px;
}
.rate-item__content .rating-bar {
	
}
.rate-item__content .widget-rating {
	-ms-zoom: 1;
}
.rate-item__content .widget-rating-intro {
	vertical-align: 3px;
}
.rate-item__content .sub-rate-group {
	height: 16px; line-height: 16px; margin-top: 10px;
}
.rate-item__content .rate-wrapper {
	border: 1px solid rgb(229, 229, 229);
}
.rate-item__content .rate-wrapper .text-area {
	padding-bottom: 20px;
}
.rate-item__content .init-addbtn-wrapper {
	background: rgb(0, 187, 187); margin: 3px 5px 0px 0px; border-radius: 2px; width: 40px; height: 22px; float: left;
}
.rate-item__content .init-addbtn-wrapper--hide {
	margin: 0px; border: 0px currentColor; width: 0px; height: 0px;
}
.rate-item__content .init-addbtn-wrapper a {
	outline: 0px; text-align: center; color: white; text-decoration: none; display: block;
}
.rate-item__content .init-addbtn-wrapper--hide a span {
	display: none;
}
.rate-item__content .pic-tip {
	margin: 3px 0px; color: rgb(153, 153, 153);
}
.rate-item__content .pic-tip .pic-tip__warnning {
	color: rgb(247, 98, 30);
}
.rate-item__content .pic-list-wrapper {
	background: rgb(249, 249, 249); padding: 8px;
}
.rate-item__content .pic-list {
	margin-top: 8px;
}
.rate-item__content .pic-thumbnails {
	height: 78px; overflow: hidden; margin-top: 5px; position: relative;
}
.rate-item__content .pic-thumbnails li {
	margin-right: 12px; float: left;
}
.rate-item__content .pic-thumbnail {
	width: 78px; height: 78px; overflow: hidden; display: inline-block; cursor: pointer; -ms-zoom: 1;
}
.rate-item__content .pic-thumbnail img {
	min-height: 78px; min-width: 78px; _height: 78px; _width: 78px;
}
.rate-item__content .current .pic-thumbnail {
	border: 2px solid rgb(255, 133, 40); width: 74px; height: 74px;
}
.rate-item__content .pic-thumbnail:hover {
	border: 2px solid rgb(255, 133, 40); width: 74px; height: 74px;
}
.rate-item__content .current .pic-thumbnail img {
	left: -2px; top: -2px; position: relative;
}
.rate-item__content .pic-thumbnail:hover img {
	left: -2px; top: -2px; position: relative;
}
.rate-item__content .pic-previews {
	width: 528px; margin-top: 10px; -ms-overflow-x: hidden;
}
.rate-item__content .pic-previews img {
	max-height: 400px; max-width: 528px;
}
.rate-item__content .pic-list .pic-item {
	background: white; padding: 1px; border: 1px solid rgb(229, 229, 229); width: 41px; height: 41px; margin-right: 8px; float: left; position: relative; cursor: pointer;
}
.rate-item__content .pic-list--display .pic-item {
	cursor: auto;
}
.rate-item__content .pic-list .pic-item--last {
	margin-right: 0px;
}
.rate-item__content .pic-list .pic-item--add {
	padding: 0px; border: 0px currentColor; width: 45px; height: 45px; margin-right: 0px;
}
.rate-item__content .pic-list .pic-item--add a {
	outline: 0px; text-decoration: none; display: block; _cursor: pointer;
}
.rate-item__content .pic-list .pic-item--add a span {
	padding: 3px 0px; border: 1px dashed rgb(204, 204, 204); height: 37px; text-align: center; color: rgb(228, 228, 228); line-height: 33px; font-size: 35px; display: block; text-shadow: 0px -1px #d0d0d0;
}
.rate-item__content .pic-list .pic-item--add a:hover span {
	border-color: rgb(250, 148, 107);
}
.rate-item__content .pic-list .pic-item--add--hover span {
	border-color: rgb(250, 148, 107);
}
.rate-item__content .pic-list .pic-item--hide {
	width: 0px; height: 0px;
}
.rate-item__content .pic-list .pic-item--hide a span {
	display: none;
}
.rate-item__content .pic-list .pic-item--loading {
	background: url("http://s0.meituan.net/www/css/i/icon-loading16x16.vecf78228.gif") no-repeat center;
}
.rate-item__content .pic-list .pic-item__remove {
	background: url("http://s0.meituan.net/www/css/i/sp-misc.v519dd66c.png") no-repeat 0px -92px; left: 1px; width: 41px; height: 18px; bottom: 1px; position: absolute; _background-color: #000;
}
.pg-zlorders .result-box .icon-loading {
	background: url("http://s0.meituan.net/www/css/i/icon-loading16x16.vecf78228.gif") no-repeat; left: auto; top: 8px; width: 16px; height: 16px; right: 25px; display: block;
}
.search-box {
	margin: 20px 0px 0px 80px; width: 378px; float: left; position: relative;
}
.site-mast--poisearch .search-box {
	margin: 13px 0px 0px 70px;
}
.site-mast--poisearch .search-box__tab {
	padding: 0px 8px; line-height: 24px; font-size: 12px; display: inline-block; cursor: pointer;
}
.site-mast--poisearch .search-box__tab--current {
	background: rgb(45, 184, 173); color: rgb(255, 255, 255);
}
.search-box__hot {
	font-size: 12px; margin-bottom: 5px;
}
.site-mast--poisearch .search-box__hot {
	margin-top: 2px;
}
.search-box__hot a {
	padding: 0px 14px; color: rgb(102, 102, 102); border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid;
}
.site-mast--poisearch .search-box__hot a {
	padding: 0px 10px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.search-box__hot .hot-link--topic {
	margin-left: 14px; border-right-color: currentColor; border-left-color: rgb(221, 221, 221); border-right-width: 0px; border-left-width: 1px; border-right-style: none; border-left-style: solid;
}
.site-mast--poisearch .search-box__hot .hot-link--topic {
	margin-left: 0px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.search-box__hot a:hover {
	color: rgb(0, 187, 187);
}
.search-box__hot .first {
	padding-left: 0px;
}
.search-box__hot .last {
	padding-right: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.search-box__form--no-hot {
	margin-top: 23px;
}
.search-box__input {
	border-width: 3px 0px 3px 3px; border-style: solid none solid solid; border-color: rgb(45, 184, 173) currentColor rgb(45, 184, 173) rgb(45, 184, 173); margin: 0px; padding: 5px; border-radius: 0px; width: 300px; height: 24px; line-height: 24px; float: left;
}
.site-mast--poisearch .search-box__input {
	padding: 3px 5px;
}
.search-box__input:focus {
	background: rgb(255, 255, 255); outline: 0px; transition:0.2s linear; box-shadow: inset 0px 0px 8px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1); -webkit-transition: all .2s linear; -moz-transition: all .2s linear;
}
.search-box__button {
	background: rgb(45, 184, 173); margin: 0px; border-radius: 0px; border: 0px currentColor; width: 62px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; letter-spacing: 2px; float: left; cursor: pointer; -webkit-appearance: none;
}
.site-mast--poisearch .search-box__button {
	height: 36px; line-height: 36px;
}
.search-box__button:hover {
	background: rgb(18, 166, 154); transition:background 0.2s; -webkit-transition: background .2s; -moz-transition: background .2s;
}
